<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All in JsonDownloaderTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SpearSwiftLib.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SpearSwiftLibOSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SpearSwiftLibTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SpearSwiftLibmacOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A942A9851A9F251800C69271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A942A9901A9F251900C69271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9503DAD1ED65A550011B5AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9503DE61ED6E1100011B5AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D9CE491C472D6C00D39DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
